class Lazytf < Formula
  desc "Terminal UI for Terraform workflows"
  homepage "https://github.com/jaxsonsuth/lazytf"
  url "https://github.com/jaxsonsuth/lazytf/releases/download/v0.1.0/lazytf-aarch64-apple-darwin.tar.gz"
  sha256 "REPLACE_WITH_SHA256_FROM_CHECKSUMS_TXT"
  version "0.1.0"

  depends_on arch: :arm64

  def install
    bin.install "lazytf"
  end

  test do
    assert_predicate bin/"lazytf", :exist?
  end
end
